## Imports
importFrom(utf8, as_utf8)
importFrom(utf8, output_ansi)
importFrom(utf8, output_utf8)
importFrom(utf8, utf8_encode)
importFrom(utf8, utf8_format)
importFrom(utf8, utf8_print)
importFrom(utf8, utf8_valid)
importFrom(utf8, utf8_width)
importFrom(utils, tail)

## Exports
export(`[.dataset`)
export(as.list.dataset)
export(as_dataset.data.frame)
export(as_dataset.default)
export(as_dataset.dataset)
export(framed)
export(framed.default)
export(as_keyset)
export(as_keyset.default)
export(as_keyset.keyset)
export(dataset)
export(framed)
export(framed.default)
export(format.dataset)
export(grouped)
export(grouped.default)
export(is_keyset)
export(is_dataset)
export(keys)
export(keys.dataset)
export(keys.default)
export(keylevels)
export(keylevels.default)
export(`keys<-`)
export(`keys<-.dataset`)
export(keyset)
export(print.dataset)
export(lookup)
export(lookup.default)

## Deprecated
# (none)


## New S3 methods
S3method(as_dataset, data.frame)
S3method(as_dataset, dataset)
S3method(as_dataset, default)
S3method(as_dataset, list)
S3method(as_keyset, default)
S3method(as_keyset, keyset)
S3method(keys, dataset)
S3method(keys, default)
S3method(`keys<-`, dataset)
S3method(keylevels, default)
S3method(framed, default)
S3method(grouped, default)
S3method(lookup, default)

## Base S3 methods

### dataset
S3method(`$<-`, dataset)
S3method(`[`, dataset)
S3method(`[[<-`, dataset)
S3method(as.data.frame, dataset)
S3method(as.list, dataset)
S3method(dimnames, dataset)
S3method(`dimnames<-`, dataset)
S3method(format, dataset)
S3method(print, dataset)
S3method(row.names, dataset)
S3method(`row.names<-`, dataset)
