## Imports
importFrom(utf8, as_utf8)
importFrom(utf8, output_ansi)
importFrom(utf8, output_utf8)
importFrom(utf8, utf8_encode)
importFrom(utf8, utf8_format)
importFrom(utf8, utf8_print)
importFrom(utf8, utf8_valid)
importFrom(utf8, utf8_width)


## Exports
export(`[.dataset`)
export(as.list.dataset)
export(dataset)
export(framed)
export(framed.data.frame)
export(framed.default)
export(framed.dataset)
export(framed.list)
export(framed.NULL)
export(format.dataset)
export(grouped)
export(is_dataset)
export(keys)
export(keys.dataset)
export(keys.default)
export(keylevels)
export(keylevels.dataset)
export(`keys<-`)
export(`keys<-.dataset`)
export(print.dataset)
export(rowid)

## Deprecated
# (none)


## New S3 methods
S3method(keys, dataset)
S3method(`keys<-`, dataset)
S3method(keylevels, dataset)
S3method(framed, default)
S3method(framed, data.frame)
S3method(framed, dataset)
S3method(framed, list)

## Base S3 methods

### dataset
S3method(`$<-`, dataset)
S3method(`[`, dataset)
S3method(`[[<-`, dataset)
S3method(as.list, dataset)
S3method(dimnames, dataset)
S3method(`dimnames<-`, dataset)
S3method(format, dataset)
S3method(print, dataset)
S3method(row.names, dataset)
S3method(`row.names<-`, dataset)
