## Imports
importFrom(rlang, eval_tidy)
importFrom(rlang, quos)
importFrom(utf8, as_utf8)
importFrom(utf8, output_ansi)
importFrom(utf8, output_utf8)
importFrom(utf8, utf8_format)
importFrom(utf8, utf8_normalize)
importFrom(utf8, utf8_print)
importFrom(utf8, utf8_valid)
importFrom(utf8, utf8_width)


## Exports
export(as_dataset)
export(as_dataset.data.frame)
export(as_dataset.default)
export(as_dataset.dataset)
export(as_dataset.list)
export(dataset)
export(format.dataset)
export(is_dataset)
export(key)
export(key.dataset)
export(keyvals)
export(keyvals.dataset)
export(`key<-`)
export(`key<-.dataset`)
export(print.dataset)

## Deprecated
# (none)


## New S3 methods
S3method(key, dataset)
S3method(`key<-`, dataset)
S3method(keyvals, dataset)
S3method(as_dataset, default)
S3method(as_dataset, data.frame)
S3method(as_dataset, dataset)
S3method(as_dataset, list)

## Base S3 methods

### dataset
S3method(dimnames, dataset)
S3method(`dimnames<-`, dataset)
S3method(format, dataset)
S3method(`names<-`, dataset)
S3method(print, dataset)
S3method(row.names, dataset)
S3method(`row.names<-`, dataset)
